# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Unit test / coverage reports
.pytest_cache/
.coverage
.cache

# Environments
.env
.venv
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# bills
bills/*.csv

# temporary files
templates/*.tex
!templates/template.tex

# Pdf files
pdf/**

# Logs
logs/*.log
logs/*.csv

# Cron jobs
cron/*.csv
